{% extends "base.html" %} {% block content %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Modal -->
<div class="modal fade" id="edit_crontab" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 420px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_edit_crontab">
                            <form class="form-horizontal" id="form_edit_crontab">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">* {% trans "Crontab name" %}</label>
                                    <div class="col-sm-6" id="div_name">
                                        <input type="text" class="form-control" name="name" id="input_crontab_getname" placeholder="{% trans "Crontab name" %}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">* {% trans "Execution time" %}</label>
                                    <div class="col-sm-6" id="div_time">
                                        <input type="text" class="form-control" name="time" id="input_crontab_gettime" placeholder="{% trans "Execution time" %}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">* {% trans "Crontab script" %}</label>
                                    <div class="col-sm-6" id="div_script">
                                        <input type="text" class="form-control" name="script" id="input_crontab_getscript" placeholder="{% trans "Crontab script" %}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                <button type="button" class="btn btn-primary" onclick="edit_crontab_save()">{% trans "Save" %}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="create_crontab" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_create_crontab">
                            <form class="form-horizontal" id="form_create_crontab">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">* {% trans "Crontab name" %}</label>
                                    <div class="col-sm-7" id="div_name">
                                        <input type="text" class="form-control" name="name" id="input_crontab_name" placeholder="{% trans "Crontab name" %}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">* {% trans "Execution time" %}</label>
                                    <div class="col-sm-7" id="div_time">
                                        <input type="text" class="form-control" name="time" id="input_crontab_time" placeholder="{% trans "Execution time" %}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">* {% trans "Crontab script" %}</label>
                                    <div class="col-sm-7" id="div_script">
                                        <input type="text" class="form-control" name="script" id="input_crontab_script" placeholder="{% trans "Crontab script" %}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                <button type="button" class="btn btn-primary" onclick="save_crontab()">{% trans "Save" %}</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <button type="button" class="btn btn-primary pull-left" onclick="sync_crontab(1)">{% trans "Sync local crontab" %}</button>
                <button type="button" class="btn btn-primary pull-left" onclick="create_crontab(1)">{% trans "Create crontab" %}</button>
                <div class="input-group pull-right" style="width: 250px;">
                    <input type="text" name="crontab_filter" id="input_crontab_filter" class="form-control pull-right" placeholder="{% trans "search" %}" onkeydown='if(event.keyCode==13){crontab_filter()}'>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" onclick="crontab_filter()"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{% trans "Crontab name" %}</th>
                            <th>{% trans "Execution time" %}</th>
                            <th>{% trans "Script" %}</th>
                            <th>{% trans "Status" %}</th>
                            <th>{% trans "Operate" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for crontab in content %}
                        <tr>
                            <td>{{ crontab.name }}</td>
                            <td>{{ crontab.time }}</td>
                            <td>{{ crontab.script }}</td>
                            <td>
                            {% if crontab.status %}
                                <button type="button" class="btn btn-success btn-xs" onclick="change_status({{ crontab.id }},0)">{% trans "Started" %}</button>
                            {% else %}
                                <button type="button" class="btn btn-danger btn-xs" onclick="change_status({{ crontab.id }},1)">{% trans "Stopped" %}</button>
                            {% endif %}
                            </td>
                            <td><button type="button" class="btn btn-success btn-xs" onclick="edit_crontab({{ crontab.id }},'{{ crontab.name }}','{{ crontab.time }}','{{ crontab.script }}',1)">{% trans "Edit" %}</button>
                            <button type="button" class="btn btn-danger btn-xs" onclick="delete_crontab({{ crontab.id }},'{{ crontab.name }}')">{% trans "Delete" %}</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    {% if content.has_previous %}
                    <li><a href="?page={{ content.previous_page_number }}&filter={{ filter }}" class="prev">{{ previous_link_decorator|safe }}上一页</a></li>
                    {% else %}
                    <li class="paginate_button previous disabled"><span class="disabled prev">{{ previous_link_decorator|safe }}上一页</span></li>
                    {% endif %} {% if content.has_next %}
                    <li><a href="?page={{ content.next_page_number }}&filter={{ filter }}" class="next">下一页{{ next_link_decorator|safe }}</a></li>
                    {% else %}
                    <li class="paginate_button next disabled"><span class="disabled next">下一页{{ next_link_decorator|safe }}</span></li>
                    {% endif %}
                    <li class="paginate_button previous disabled">
                        <span>第 {{ content.number }} 页 - 共 {{ content.paginator.num_pages }} 页</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
$('#page_nav').text('{% trans "Crontab" %}')

function crontab_filter() {
    window.location = '/crontab/?filter=' + $('#input_crontab_filter').val()
}

function delete_crontab(id, name) {
    if (confirm("确认删除计划任务[" + name + "]？")) {
        var post = {
            id: id
        }
        jQuery.ajax({
            type: 'post',
            url: '/crontab/delete',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data: JSON.stringify(post),
            dataType: 'json',
            success: function(p) {
                if (p.flag == "Success") {
                    top.location = '/crontab/'
                } else {
                    alert('删除错误！' + p.content)
                }
            },
            error: function(e) {
                alert('请求失败!')
            }
        })
    }
}

function change_status(id,status) {
    var post = {
        id: id,
        status: status
    }
    jQuery.ajax({
        type: 'post',
        url: '/crontab/status',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: JSON.stringify(post),
        dataType: 'json',
        success: function(p) {
            if (p.flag == "Success") {
                top.location = '/crontab/'
            } else {
                alert('变更错误！' + p.content)
            }
        },
        error: function(e) {
            alert('请求失败!')
        }
    })
}

function sync_crontab(sync_status) {
    if (confirm("确认要同步计划任务？")) {
        var post = {
            sync_status: sync_status
        }
        jQuery.ajax({
            type: 'post',
            url: '/crontab/reload',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data: JSON.stringify(post),
            dataType: 'json',
            success: function(p) {
                if (p.flag == "Success") {
                    top.location = '/crontab/'
                } else {
                    alert('同步失败！' + p.content)
                }
            },
            error: function(e) {
                alert('请求失败!')
            }
        })
    }
}

function create_crontab(create_status) {
    if (create_status == 1) {
        $('#input_crontab_name').val('')
        $('#input_crontab_time').val('')
        $('#input_crontab_script').val('')
        $('#create_crontab').modal('show')
    }
}

function save_crontab() {
    var post = {
        'name': $('#input_crontab_name').serializeObject()['name'],
        'time': $('#input_crontab_time').serializeObject()['time'],
        'script': $('#input_crontab_script').serializeObject()['script'],
    }
    jQuery.ajax({
        type: 'post',
        url: '/crontab/create',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: JSON.stringify(post),
        dataType: 'json',
        success: function(p) {
            if (p.flag == "Success") {
                top.location = '/crontab/'
            } else {
                alert('保存错误！其他错误：' + p.content)
            }
        },
        error: function(e) {
            alert('请求失败!')
        }
    })
}

function edit_crontab(id,name,time,script,status) {
    if (status == 1) {
        window.id = id
        $('#input_crontab_getname').val(name)
        $('#input_crontab_gettime').val(time)
        $('#input_crontab_getscript').val(script)
        $('#edit_crontab').modal('show')
    }
}

function edit_crontab_save() {
    var post = {
        'id': id,
        'name': $('#input_crontab_getname').serializeObject()['name'],
        'time': $('#input_crontab_gettime').serializeObject()['time'],
        'script': $('#input_crontab_getscript').serializeObject()['script']
    }
    jQuery.ajax({
        type: 'post',
        url: '/crontab/update',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: JSON.stringify(post),
        dataType: 'json',
        success: function(p) {
            if (p.flag == "Success") {
                top.location = '/crontab/'
            } else {
                alert('保存错误！其他错误：' + p.content)
            }
        },
        error: function(e) {
            alert('请求失败!')
        }
    })
}

</script>
{% endblock %}
