{% extends "base.html" %} {% block content %}
<!-- Modal -->
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
        系统: 已不间断运行: {{ uptime.day }}天 {{ uptime.hour }}小时 {{ uptime.minute }}分钟


<div class="row">
        <div class="col-xs-12">
          <div class="box box-solid">
            <div class="box-header">
              <i class="fa fa-bar-chart-o"></i>

              <h3 class="box-title">mem</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
           <div class="col-xs-6 col-md-3 text-center" style="padding-top: 20px">
                  <div style="display:inline;width:90px;height:90px;"><input type="text" class="knob" value="80" data-width="90" data-height="90" data-fgcolor="#3c8dbc" data-readonly="true" readonly="readonly" style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: -69px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 18px; line-height: normal; font-family: Arial; text-align: center; color: rgb(60, 141, 188); padding: 0px; -webkit-appearance: none;"></div>

                  <div class="knob-label">内存使用率</div>
           </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>




        </div>
    </div>
</div>
<script>
$('#page_name').text('首页')

</script>
{% endblock %}
