{% extends "base.html" %} {% block content %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Modal -->
<div class="modal fade" id="change_password" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 360px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_change_password">
                            <form class="form-horizontal" id="form_change_password">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">* 用户名</label>
                                    <div class="col-sm-6" id="div_name">
                                        <input type="text" class="form-control" name="name" id="input_database_getname" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">* 新密码</label>
                                    <div class="col-sm-6" id="div_password">
                                        <input type="password" class="form-control" name="password" id="input_database_newpassword" placeholder="数据库密码">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                <button type="button" class="btn btn-primary" onclick="change_password_save()">{% trans "Save" %}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="create_database" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_create_database">
                            <form class="form-horizontal" id="form_create_database">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">* 数据库名</label>
                                    <div class="col-sm-7" id="div_dbname">
                                        <input type="text" class="form-control" name="dbname" id="input_dbname" placeholder="数据库名">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">* 用户名</label>
                                    <div class="col-sm-7" id="div_dbuser">
                                        <input type="text" class="form-control" name="dbuser" id="input_dbuser" placeholder="用户名">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">* 数据库密码</label>
                                    <div class="col-sm-7" id="div_password">
                                        <input type="password" class="form-control" name="dbpassword" id="input_dbpassword" placeholder="数据库密码">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">* 访问权限</label>
                                    <div class="col-sm-7" >
                                      <select class="form-control" name="dbhost" id="input_dbhost" >
                                        <option selected="selected">localhost</option>
                                        <option>%</option>
                                        <option>指定IP</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">* 备注</label>
                                    <div class="col-sm-7" id="div_dbcomment">
                                        <input type="text" class="form-control" name="dbcomment" id="input_dbcomment" placeholder="详细备注">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="save_database()">保存</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <button type="button" class="btn btn-primary pull-left" onclick="create_database(1)">创建数据库</button>
                <button type="button" class="btn btn-primary pull-left" onclick="sync_database(1)">同步数据库账号</button>
                <div class="input-group pull-right" style="width: 250px;">
                    <input type="text" name="database_filter" id="input_database_filter" class="form-control pull-right" placeholder="搜索" onkeydown='if(event.keyCode==13){database_filter()}'>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" onclick="database_filter()"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>密码</th>
                            <th>根目录</th>
                            <th>状态</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for database in content %}
                        <tr>
                            <td>{{ database.name }}</td>
                            <td>{{ database.password|truncatechars:10 }}</td>
                            <td>{{ database.path }}</td>
                            <td>
                            {% if database.status %}
                                <button type="button" class="btn btn-success btn-xs" onclick="change_status({{ database.id }},0)">已启用</button>
                            {% else %}
                                <button type="button" class="btn btn-danger btn-xs" onclick="change_status({{ database.id }},1)">已停用</button>
                            {% endif %}
                            </td>
                            <td>{{ database.comment }}</td>
                            <td><button type="button" class="btn btn-success btn-xs" onclick="change_password({{ database.id }},'{{ database.name }}',1)">改密</button>
                            <button type="button" class="btn btn-danger btn-xs" onclick="delete_database({{ database.id }},'{{ database.name }}')">删除</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    {% if content.has_previous %}
                    <li><a href="?page={{ content.previous_page_number }}&filter={{ filter }}" class="prev">{{ previous_link_decorator|safe }}上一页</a></li>
                    {% else %}
                    <li class="paginate_button previous disabled"><span class="disabled prev">{{ previous_link_decorator|safe }}上一页</span></li>
                    {% endif %} {% if content.has_next %}
                    <li><a href="?page={{ content.next_page_number }}&filter={{ filter }}" class="next">下一页{{ next_link_decorator|safe }}</a></li>
                    {% else %}
                    <li class="paginate_button next disabled"><span class="disabled next">下一页{{ next_link_decorator|safe }}</span></li>
                    {% endif %}
                    <li class="paginate_button previous disabled">
                        <span>第 {{ content.number }} 页 - 共 {{ content.paginator.num_pages }} 页</span>
                    </li>
                </ul>
                <button type="button" class="btn btn-primary pull-left" onclick="sync_database(1)">同步数据库</button>
            </div>
        </div>
    </div>
</div>
<script>
$('#page_nav').text('数据库')

function database_filter() {
    window.location = '/database/?filter=' + $('#input_database_filter').val()
}

function delete_database(id, name) {
    if (confirm("确认删除数据库账号[" + name + "]？")) {
        var post = {
            id: id
        }
        jQuery.ajax({
            type: 'post',
            url: '/database/delete',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data: JSON.stringify(post),
            dataType: 'json',
            success: function(p) {
                if (p.flag == "Success") {
                    top.location = '/database'
                } else {
                    alert('删除错误！' + p.content)
                }
            },
            error: function(e) {
                alert('请求失败!')
            }
        })
    }
}

function change_status(id,status) {
    var post = {
        id: id,
        status: status
    }
    jQuery.ajax({
        type: 'post',
        url: '/database/status',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: JSON.stringify(post),
        dataType: 'json',
        success: function(p) {
            if (p.flag == "Success") {
                top.location = '/database'
            } else {
                alert('变更错误！' + p.content)
            }
        },
        error: function(e) {
            alert('请求失败!')
        }
    })
}

function sync_database(sync_status) {
    if (confirm("确认要同步数据库账号？")) {
        var post = {
            sync_status: sync_status
        }
        jQuery.ajax({
            type: 'post',
            url: '/database/reload',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data: JSON.stringify(post),
            dataType: 'json',
            success: function(p) {
                if (p.flag == "Success") {
                    top.location = '/database'
                } else {
                    alert('同步失败！' + p.content)
                }
            },
            error: function(e) {
                alert('请求失败!')
            }
        })
    }
}

function create_database(create) {
    if (create == 1) {
        $('#input_dbname').val('')
        $('#input_dbuser').val('')
        $('#input_dbpassword').val('')
        $('#input_dbhost').val('')
        $('#input_dbcomment').val('')
        $('#create_database').modal('show')
    }
}

function save_database() {
    var post = {
        'name': $('#input_dbname').serializeObject()['dbname'],
        'user': $('#input_dbuser').serializeObject()['dbuser'],
        'password': $('#input_dbpassword').serializeObject()['dbpassword'],
        'host': $('#input_dbhost').serializeObject()['dbhost'],
        'comment': $('#input_dbcomment').serializeObject()['dbcomment']
    }
    console.log(post)
    jQuery.ajax({
        type: 'post',
        url: '/database/create',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: JSON.stringify(post),
        dataType: 'json',
        success: function(p) {
            if (p.flag == "Success") {
                top.location = '/database'
            } else {
                alert('保存错误！其他错误：' + p.content)
            }
        },
        error: function(e) {
            alert('请求失败!')
        }
    })
}

function change_password(id,name,status) {
    if (status == 1) {
        window.id = id
        $('#input_database_getname').val(name)
        $('#input_database_newpassword').val('')
        $('#change_password').modal('show')
    }
}

function change_password_save() {
    var post = {
        'id': id,
        'password': $('#input_database_newpassword').serializeObject()['password']
    }

    jQuery.ajax({
        type: 'post',
        url: '/database/password',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: JSON.stringify(post),
        dataType: 'json',
        success: function(p) {
            if (p.flag == "Success") {
                top.location = '/database'
            } else {
                alert('保存错误！其他错误：' + p.content)
            }
        },
        error: function(e) {
            alert('请求失败!')
        }
    })
}

</script>
{% endblock %}
