{% extends "base.html" %} {% block content %}
<!-- Modal -->
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>密码</th>
                            <th>根目录</th>
                            <th>状态</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for server in content %}
                        <tr>
                            <td>{{ server.name }}</td>
                            <td>{{ server.password }}</td>
                            <td>{{ server.path }}</td>
                            <td>
                            {% if server.status %}
                                <button type="button" class="btn btn-success btn-xs" onclick="change_status('{{ server.id }}',0)">已启用</button>
                            {% else %}
                                <button type="button" class="btn btn-danger btn-xs" onclick="change_status('{{ server.id }}',1)">已停用</button>
                            {% endif %}
                            </td>
                            <td>{{ server.comment }}</td>
                            <td><button type="button" class="btn btn-success btn-xs" onclick="change_password('{{ server.id }}','password')">改密</button>
                            <button type="button" class="btn btn-danger btn-xs" onclick="delete_ftp('{{ server.id }}','{{ server.name }}')">删除</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
<script>
$('#menu_ftp_config').addClass('active')
$('#page_header').text('FTP')
$('#page_header_descript').text('总览')
$('#page_nav').text('FTP')
$('#page_name').text('首页')

function delete_ftp(id, name) {
    if (confirm("确认删除FTP账号[" + name + "]？")) {
        var post = {
            id: id 
        }
        jQuery.ajax({
            type: 'post',
            url: '/ftp/delete',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data: JSON.stringify(post),
            dataType: 'json',
            success: function(p) {
                if (p.flag == "Success") {
                    alert("删除成功!")
                    top.location = '/ftp'
                } else {
                    alert('删除错误！' + p.context)
                }
            },
            error: function(e) {
                alert('请求失败!')
            }
        })
    }
}

function change_status(id,status) {
    if (confirm("确认要变更状态？")) {
        var post = {
            id: id,
            status: status
        }
        jQuery.ajax({
            type: 'post',
            url: '/ftp/setstatus',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data: JSON.stringify(post),
            dataType: 'json',
            success: function(p) {
                if (p.flag == "Success") {
                    alert("变更成功!")
                    top.location = '/ftp'
                } else {
                    alert('变更错误！' + p.context)
                }
            },
            error: function(e) {
                alert('请求失败!')
            }
        })
    }
}
</script>
{% endblock %}
