{% extends "base.html" %} {% block content %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Modal -->
<div class="modal fade" id="change_password" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 360px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_change_password">
                            <form class="form-horizontal" id="form_change_password">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">* 用户名</label>
                                    <div class="col-sm-6" id="div_name">
                                        <input type="text" class="form-control" name="name" id="input_ftp_getname" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">* 新密码</label>
                                    <div class="col-sm-6" id="div_password">
                                        <input type="password" class="form-control" name="password" id="input_ftp_newpassword" placeholder="FTP密码">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                <button type="button" class="btn btn-primary" onclick="change_password_save()">{% trans "Save" %}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="create_ftp" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_create_ftp">
                            <form class="form-horizontal" id="form_create_ftp">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">* 用户名</label>
                                    <div class="col-sm-7" id="div_name">
                                        <input type="text" class="form-control" name="name" id="input_ftp_name" placeholder="FTP账号">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">* 密码</label>
                                    <div class="col-sm-7" id="div_password">
                                        <input type="password" class="form-control" name="password" id="input_ftp_password" placeholder="FTP密码">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">* 根目录</label>
                                    <div class="col-sm-7" id="div_path">
                                        <input type="text" class="form-control" name="path" id="input_ftp_path" placeholder="FTP根目录">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">备注</label>
                                    <div class="col-sm-7" id="div_comment">
                                        <input type="text" class="form-control" name="comment" id="input_ftp_comment" placeholder="FTP描述" onblur="check_form(this)">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="save_ftp()">保存</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <button type="button" class="btn btn-primary pull-left" onclick="sync_ftp(1)">同步FTP账号</button>
                <button type="button" class="btn btn-primary pull-left" onclick="create_ftp(1)">创建FTP账号</button>
                <div class="input-group pull-right" style="width: 250px;">
                    <input type="text" name="ftp_filter" id="input_ftp_filter" class="form-control pull-right" placeholder="搜索" onkeydown='if(event.keyCode==13){ftp_filter()}'>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" onclick="ftp_filter()"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>密码</th>
                            <th>根目录</th>
                            <th>状态</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ftp in content %}
                        <tr>
                            <td>{{ ftp.name }}</td>
                            <td>{{ ftp.password|truncatechars:10 }}</td>
                            <td>{{ ftp.path }}</td>
                            <td>
                            {% if ftp.status %}
                                <button type="button" class="btn btn-success btn-xs" onclick="change_status({{ ftp.id }},0)">已启用</button>
                            {% else %}
                                <button type="button" class="btn btn-danger btn-xs" onclick="change_status({{ ftp.id }},1)">已停用</button>
                            {% endif %}
                            </td>
                            <td>{{ ftp.comment }}</td>
                            <td><button type="button" class="btn btn-success btn-xs" onclick="change_password({{ ftp.id }},'{{ ftp.name }}',1)">改密</button>
                            <button type="button" class="btn btn-danger btn-xs" onclick="delete_ftp({{ ftp.id }},'{{ ftp.name }}')">删除</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    {% if content.has_previous %}
                    <li><a href="?page={{ content.previous_page_number }}&filter={{ filter }}" class="prev">{{ previous_link_decorator|safe }}上一页</a></li>
                    {% else %}
                    <li class="paginate_button previous disabled"><span class="disabled prev">{{ previous_link_decorator|safe }}上一页</span></li>
                    {% endif %} {% if content.has_next %}
                    <li><a href="?page={{ content.next_page_number }}&filter={{ filter }}" class="next">下一页{{ next_link_decorator|safe }}</a></li>
                    {% else %}
                    <li class="paginate_button next disabled"><span class="disabled next">下一页{{ next_link_decorator|safe }}</span></li>
                    {% endif %}
                    <li class="paginate_button previous disabled">
                        <span>第 {{ content.number }} 页 - 共 {{ content.paginator.num_pages }} 页</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
$('#menu_ftp_config').addClass('active')
$('#page_header').text('FTP')
$('#page_header_descript').text('总览')
$('#page_nav').text('FTP')
$('#page_name').text('首页')

function ftp_filter() {
    window.location = '/ftp/?filter=' + $('#input_ftp_filter').val()
}

function delete_ftp(id, name) {
    if (confirm("确认删除FTP账号[" + name + "]？")) {
        var post = {
            id: id
        }
        jQuery.ajax({
            type: 'post',
            url: '/ftp/delete',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data: JSON.stringify(post),
            dataType: 'json',
            success: function(p) {
                if (p.flag == "Success") {
                    top.location = '/ftp'
                } else {
                    alert('删除错误！' + p.content)
                }
            },
            error: function(e) {
                alert('请求失败!')
            }
        })
    }
}

function change_status(id,status) {
    var post = {
        id: id,
        status: status
    }
    jQuery.ajax({
        type: 'post',
        url: '/ftp/status',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: JSON.stringify(post),
        dataType: 'json',
        success: function(p) {
            if (p.flag == "Success") {
                top.location = '/ftp'
            } else {
                alert('变更错误！' + p.content)
            }
        },
        error: function(e) {
            alert('请求失败!')
        }
    })
}

function sync_ftp(sync_status) {
    if (confirm("确认要同步FTP账号？")) {
        var post = {
            sync_status: sync_status
        }
        jQuery.ajax({
            type: 'post',
            url: '/ftp/reload',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data: JSON.stringify(post),
            dataType: 'json',
            success: function(p) {
                if (p.flag == "Success") {
                    top.location = '/ftp'
                } else {
                    alert('同步失败！' + p.content)
                }
            },
            error: function(e) {
                alert('请求失败!')
            }
        })
    }
}

function create_ftp(create) {
    if (create == 1) {
        $('#input_ftp_name').val('')
        $('#input_ftp_password').val('')
        $('#input_ftp_path').val('')
        $('#input_ftp_comment').val('')
        $('#create_ftp').modal('show')
    }
}

function save_ftp() {
    var post = {
        'name': $('#input_ftp_name').serializeObject()['name'],
        'password': $('#input_ftp_password').serializeObject()['password'],
        'path': $('#input_ftp_path').serializeObject()['path'],
        'comment': $('#input_ftp_comment').serializeObject()['comment']
    }
    jQuery.ajax({
        type: 'post',
        url: '/ftp/create',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: JSON.stringify(post),
        dataType: 'json',
        success: function(p) {
            if (p.flag == "Success") {
                top.location = '/ftp'
            } else {
                alert('保存错误！其他错误：' + p.content)
            }
        },
        error: function(e) {
            alert('请求失败!')
        }
    })
}

function change_password(id,name,status) {
    if (status == 1) {
        window.id = id
        $('#input_ftp_getname').val(name)
        $('#input_ftp_newpassword').val('')
        $('#change_password').modal('show')
    }
}

function change_password_save() {
    var post = {
        'id': id,
        'password': $('#input_ftp_newpassword').serializeObject()['password']
    }

    jQuery.ajax({
        type: 'post',
        url: '/ftp/password',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: JSON.stringify(post),
        dataType: 'json',
        success: function(p) {
            if (p.flag == "Success") {
                top.location = '/ftp'
            } else {
                alert('保存错误！其他错误：' + p.content)
            }
        },
        error: function(e) {
            alert('请求失败!')
        }
    })
}

</script>
{% endblock %}
