{% extends "base.html" %} {% block content %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="modal fade" id="update_password" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 360px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_change_password">
                            <form class="form-horizontal" id="form_change_password">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">* {% trans "Password" %}</label>
                                    <div class="col-sm-6" id="div_password">
                                        <input type="password" class="form-control" name="password" id="input_newpassword" placeholder="{% trans "Password" %}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">* {% trans "Confirm Password" %}</label>
                                    <div class="col-sm-6" id="div_password">
                                        <input type="password" class="form-control" name="rpassword" id="input_rpassword" placeholder="{% trans "Confirm Password" %}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                <button type="button" class="btn btn-primary" onclick="update_password_save()">{% trans "Save" %}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="update_username" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 360px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_change_username">
                            <form class="form-horizontal" id="form_change_username">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">* {% trans "Username" %}</label>
                                    <div class="col-sm-6" id="div_username">
                                        <input type="text" class="form-control" name="username" id="input_newusername" placeholder="{% trans "Username" %}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">* {% trans "Confirm Username" %}</label>
                                    <div class="col-sm-6" id="div_username">
                                        <input type="text" class="form-control" name="rusername" id="input_rusername" placeholder="{% trans "Confirm Username" %}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                <button type="button" class="btn btn-primary" onclick="update_username_save()">{% trans "Save" %}</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">{% trans "Setting" %}</h4>
            </div>
            <div class="box-body">
                <form class="form-horizontal" id="form_setting">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans "Panel Alias" %}</label>
                        <div class="col-sm-4">
                            <div id="div_title">
                                <input name="title" id="input_title" type="text" value="{{ setting.title }}" class="form-control" placeholder="{% trans "Panel Title" %}" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans "Panel Port" %}</label>
                        <div class="col-sm-4">
                            <div id="div_port">
                                <input name="port" id="input_port" type="text" value="{{ content.port }}" class="form-control" placeholder="{% trans "Panel Port" %}" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans "Panel Username" %}</label>
                        <div class="col-sm-4">
                            <div id="div_username" class="form-inline">
                                <input type="text" name="username" id="input_username" value="{{ content.username }}" class="form-control" placeholder="{% trans "Username" %}" readonly="readonly" >
				<button type="button" class="btn btn-success btn-xs" onclick="update_username({{ content.id }},1)">{% trans "Update" %}</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans "Panel Password" %}</label>
                        <div class="col-sm-4">
                            <div id="div_password" class="form-inline">
                                <input type="password" class="form-control" name="password" value="********" id="input_password" placeholder="{% trans "Please input new password" %}" readonly="readonly">
				<button type="button" class="btn btn-success btn-xs" onclick="update_password({{ content.id }},1)">{% trans "Update" %}</button>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{% trans "Email" %}</label>
                        <div class="col-sm-4">
                            <div id="div_email">
                                <input name="email" id="input_email" type="email" value="{{ content.email }}" class="form-control" placeholder="{% trans "Email" %}" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-xs-1">
                   <button type="button" class="btn btn-primary btn-block btn-flat" onclick="update_profile({{ content.id }},1)">{% trans "Save" %}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$('#page_nav').text('{% trans "Setting" %}')

function update_password(id,status) {
    if (status == 1) {
        window.id = id
        $('#input_newpassword').val('')
        $('#input_rpassword').val('')
        $('#update_password').modal('show')
    }
}

function update_password_save() {
    var post = {
        'id': id,
        'password': $('#input_rpassword').serializeObject()['rpassword']
    }

    jQuery.ajax({
        type: 'post',
        url: '/setting/password',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: JSON.stringify(post),
        dataType: 'json',
        success: function(p) {
            if (p.flag == "Success") {
                top.location = '/setting/'
            } else {
                alert('保存错误！其他错误：' + p.content)
            }
        },
        error: function(e) {
            alert('请求失败!')
        }
    })
}

function update_username(id,status) {
    if (status == 1) {
        window.id = id
        $('#input_newusername').val('')
        $('#input_rusername').val('')
        $('#update_username').modal('show')
    }
}

function update_username_save() {
    var post = {
        'id': id,
        'username': $('#input_rusername').serializeObject()['rusername']
    }

    jQuery.ajax({
        type: 'post',
        url: '/setting/username',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: JSON.stringify(post),
        dataType: 'json',
        success: function(p) {
            if (p.flag == "Success") {
                top.location = '/setting/'
            } else {
                alert('保存错误！其他错误：' + p.content)
            }
        },
        error: function(e) {
            alert('请求失败!')
        }
    })
}

function update_profile(id,status) {
    if (status == 1) {
        var post = {
            'id': id,
            'title': $('#input_title').serializeObject()['title'],
            'port': $('#input_port').serializeObject()['port'],
            'email': $('#input_email').serializeObject()['email']
        }
        jQuery.ajax({
            type: 'post',
            url: '/setting/profile',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data: JSON.stringify(post),
            dataType: 'json',
            success: function(p) {
                if (p.flag == "Success") {
                    top.location = '/setting/'
                } else {
                    alert('保存错误！其他错误：' + p.content)
                }
            },
            error: function(e) {
                alert('请求失败!')
            }
        })
    }
}
</script>
{% endblock %}
